.drawer__heading{
       margin-top: 10rem !important;
       color: $main-color;
       font-weight: bold;
       font-size: $h1-size;

}

.cart-item__quantity-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
}