
.banner__heading{
    color: $main-color;
    
    margin-top: -10rem;
    font-weight: bold;


}
 .banner__text{

    p{
        color: $main-color;
        font-size: 2rem;
    }
       
    }


     .banner__buttons{
            background-color: $main-color;
            border-radius: 20px;
            

            .button.button--secondary{
                background-color: $main-color;
            }
        }



        .title{
            color: $main-color;
        }

   .rich-text.content-container {

    background-color: $banner-background;

                .rich-text__heading{
                    display: flex;
                    margin-left: -20rem;
                    color: $main-color;
                    font-weight: bold;


                   
                }
                 .rich-text__text{
                        color:$main-color;
                        margin-left: -20rem;
                        display: flex;
                    }

                    .rich-text__buttons{
                        display: flex;
                        margin-left: 53rem;
                        margin-top: -7rem;


                        .button--secondary{
                            background-color: transparent;
                            color: $main-color;
                            font-weight: bold;
                            padding: 20px;
                        }

                    }
            }

            .collection-list-wrapper{

                .title-wrapper-with-link{
                  
                }
                  .collection-list-title{
                        padding-left: 35rem;
                        color: $main-color;
                        font-size: 5rem;
                        font-weight: bold;
                        padding-bottom: 4rem;
                    }
            }

            .collection{
        .collection__title{

            .title{
              color: $main-color;
                    font-weight: bold;
                    font-size: 4rem;
            
                h2{
                    color: $main-color;
                    font-weight: bold;
                    font-size: 6rem;
                }
            }
        }
    }

.rich-text {
  &.content-container {
    &.color-scheme-1 {
      &.gradient {
        &.rich-text--full-width {
          &.content-container--full-width {
            &.section-template--22345734914352__rich_text_tkrErm-padding {
            background-color: $background;
            }
          }
        }
      }
    }
  }
}



        
        .rich-text {
  &.content-container {
    &.color-scheme-1 {
      &.gradient {
        &.rich-text--full-width {
          &.content-container--full-width {
            &.section-template--22345734914352__rich_text_tkrErm-padding {
                .rich-text__heading{
                    margin-left: -15rem;
                }
              .rich-text__buttons {
                &.scroll-trigger {
                  &.animate--slide-in {
                                    color: $main-color;

                    .button {
                      &--primary {
                    margin-top: 2rem;
                    background-color: transparent;
                    color: $main-color;
                    border: 2px solid $main-color;
                           
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}



#Slider-template--22345734914352__collection_list_nrtUnn{
  .card__content{
   position: absolute;
    left: 51%;
    top: 2%;
    transform: translate(-50%, -100%);

   
    .icon-wrap{
      display: none;
    }
  }
}

.rich-text__buttons .button--primary {
    background-color: $main-color;

}


    .multicolumn{
        background-color: $background;
.multicolumn-list{
    padding-top: 3rem;
    background-color: white;
    border-radius: 20px;

   
    h3{
        color: $main-color;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    p{
        color: $main-color;
    }
}
    }

// AS SEEN IN
    .rich-text {
  &.content-container {
    &.color-scheme-1 {
      &.gradient {
        &.rich-text--full-width {
          &.content-container--full-width {
            &.section-template--22345734914352__rich_text_tGJ8Fk-padding {
                                    background-color: $background;

              .rich-text__blocks {
                .rich-text__heading {
                  padding-left: 15rem;
                }
                
                .rich-text__buttons {
                  &.scroll-trigger {
                    &.animate--slide-in {
                      .button {
                        &--primary {
                          margin-top: 2rem;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.section-template--22345734914352__custom_liquid_MF3LLx-padding{
  background-color: $background;
  display: flex;
                  justify-content: center;
.tickertape-wrapper img{
                 margin-right: 25px;
                }
              }

//OUR AWARD WINNING


.collection-list-wrapper {
  &.page-width {
    &.isolate {
      &.no-mobile-link {
        &.section-template--22345734914352__collection_list_haKjgB-padding {
          .title-wrapper-with-link {
            &.title-wrapper--self-padded-mobile {
              &.title-wrapper--no-top-margin {
                .collection-list-title {
                  margin-left: 3rem;
                  font-size: 3rem;
                }
              }
            }
          }
          
          .slider-mobile-gutter {
            &.scroll-trigger {
              &.animate--slide-in {
              }
            }
          }
          
          .collection-list {
            &.contains-card {
              &.contains-card--collection {
                &.contains-card--standard {
                  &.grid {
                    &--4-col-desktop {
                      &--1-col-tablet-down {
                        .collection-list__item {
                          &.grid__item {
                            &.scroll-trigger {
                              &.animate--slide-in {
                                .card-wrapper {
                                  &.animate-arrow {
                                    .card {
                                      &.card--standard {
                                        &.card--media {
                                          .card__inner {
                                            .card__media {
                                            }
                                            
                                            .card__content {
                                              .card__information {
                                                .card__heading {
                                                      position: absolute;
    left: 25%;
          bottom: 100%;
}
                                                  a {
                                                    
                                                  }
                                                }
                                                
                                                .card__caption {
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .section-template--22345734914352__image_with_text_qrDEkK-padding{
    background-color: $background;
  }
.image-with-text {
  &.image-with-text--no-overlap {
    &.isolate {
      &.scroll-trigger {
        &.animate--slide-in {
          .image-with-text__heading {
          color: $main-color;
          font-size: 5rem;
          font-weight: 800;

          }
          .image-with-text__text {
            color: $main-color;
          }

          .image-with-text__text p{
            color: $main-color;
          }
          .button {
            &--primary {
              background-color: transparent;
              color: $main-color;
              border: 2px solid $main-color;

              &:hover{
                background-color: $main-color;
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
    .banner__heading {
        margin-top: -5rem; 
    }

    .banner__text p {
        font-size: 1.5rem; 
    }

    .banner__buttons {
        .button.button--secondary {
            background-color: $main-color; 
        }
    }

    .rich-text.content-container {
        .rich-text__heading,
        .rich-text__text,
        .rich-text__buttons {
            display: flex;
            justify-content: center;
            margin: 0;
        }
    }

    .collection-list-wrapper {
        .collection-list-title {
            margin: 0;
            padding-left: 6rem;
            font-size: 3rem; 
            padding-top: 2rem;
        }
    }
   

    .collection .collection__title .title h2 {
        font-size: 4rem; 
    }
    
     .card-wrapper {
      margin-bottom: 3rem;
    }

    .rich-text {
  &.content-container {
    &.color-scheme-1 {
      &.gradient {
        &.rich-text--full-width {
          &.content-container--full-width {
            &.section-template--22345734914352__rich_text_tkrErm-padding {
                .rich-text__heading{
                    margin-left: 0rem;
                }
              .rich-text__buttons {
                &.scroll-trigger {
                  &.animate--slide-in {
                                    color: $main-color;

                  }
              }
            }
          }
        }
      }
    }
  }
}
    }

 // AS SEEN IN
    .rich-text {
  &.content-container {
    &.color-scheme-1 {
      &.gradient {
        &.rich-text--full-width {
          &.content-container--full-width {
            &.section-template--22345734914352__rich_text_tGJ8Fk-padding {
                                    background-color: $background;

              .rich-text__blocks {
                .rich-text__heading {
                  padding-left: 0;
                }
                .rich-text__buttons {
                  &.scroll-trigger {
                    &.animate--slide-in {
                      .button {
                        &--primary {
                          margin-top: 3rem;
                          margin-bottom: -3rem;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.section-template--22345734914352__custom_liquid_MF3LLx-padding {
    display: block; 
    text-align: center; 
    padding: 4rem;
  }
  .tickertape-wrapper img {
    margin-left: 25px;
    margin-top: 2rem;
  }

    .image-with-text {
        &.image-with-text--no-overlap {
            &.isolate {
                &.scroll-trigger {
                    &.animate--slide-in {
                        .image-with-text__heading,
                        .image-with-text__text p {
                            font-size: 1.5rem; 
                        }

                        .button {
                            &--primary {
                                margin-left: 0; 
                            }
                        }
                    }
                }
            }
        }
    }
}
