
#MainProduct-template--22345734324528__main{
    background-color: $background;
}

.product__title h1{
    
        color: $main-color;
    
}

.product-form__buttons{
    padding-right: 230px;
}
#ProductSubmitButton-template--22345734324528__main{
    background-color: $main-color;
    color: #fff;
}
.wallet-button-fade-in{
    display: none;
}

.reviews-wrapper{
    background-color: $background;
}

.header-wrapper.color-scheme-1.gradient.header-wrapper--border-bottom {
  background-color: $background;
}
