{% comment %}
  Section: Press Logos
{% endcomment %}

<div class="tickertape animate">
  <div class="tickertape-wrapper ">
    <img src="//www.brooklinen.com/cdn/shop/files/logo--gq.png?v=16254318534896739614" alt="gq logo" width="120" height="40">
    <img src="//www.brooklinen.com/cdn/shop/files/logo--architectural-digest.png?v=6603389198168487312" alt="architectural digest logo" width="120" height="40">
    <img src="//www.brooklinen.com/cdn/shop/files/logo--wirecutter.png?v=2051731935764026846" alt="wirecutter logo" width="120" height="40">
    <img src="//www.brooklinen.com/cdn/shop/files/logo--vogue.png?v=14450876647549090417" alt="vogue logo" width="120" height="40">
    <img src="//www.brooklinen.com/cdn/shop/files/logo--good-housekeeping.png?v=4331196833557073127" alt="good housekeeping logo" width="120" height="40">
    <img src="//www.brooklinen.com/cdn/shop/files/logo--wsj.png?v=10006008592195066030" alt="wsj logo" width="120" height="40">
    <img src="//www.brooklinen.com/cdn/shop/files/module--reviews-press-today.png?v=1309126911039719854" alt="today logo" width="120" height="40">
    <img src="//www.brooklinen.com/cdn/shop/files/logo--consumer-reports.png?v=17825397753332586279" alt="consumer reports logo" width="120" height="40">
  </div>

  <div class="tickertape-wrapper  mobile ">
    <img src="//www.brooklinen.com/cdn/shop/files/logo--gq.png?v=16254318534896739614" alt="gq logo" width="120" height="40">
    <img src="//www.brooklinen.com/cdn/shop/files/logo--architectural-digest.png?v=6603389198168487312" alt="architectural digest logo" width="120" height="40">
    <img src="//www.brooklinen.com/cdn/shop/files/logo--wirecutter.png?v=2051731935764026846" alt="wirecutter logo" width="120" height="40">
    <img src="//www.brooklinen.com/cdn/shop/files/logo--vogue.png?v=14450876647549090417" alt="vogue logo" width="120" height="40">
    <img src="//www.brooklinen.com/cdn/shop/files/logo--good-housekeeping.png?v=4331196833557073127" alt="good housekeeping logo" width="120" height="40">
    <img src="//www.brooklinen.com/cdn/shop/files/logo--wsj.png?v=10006008592195066030" alt="wsj logo" width="120" height="40">
    <img src="//www.brooklinen.com/cdn/shop/files/module--reviews-press-today.png?v=1309126911039719854" alt="today logo" width="120" height="40">
    <img src="//www.brooklinen.com/cdn/shop/files/logo--consumer-reports.png?v=17825397753332586279" alt="consumer reports logo" width="120" height="40">
  </div>
</div>

