@charset "UTF-8";
.utility-bar {
  background-color: #283455;
  padding: 8px;
}
.utility-bar p {
  color: #fff;
  font-size: 16px;
}
.epost-icon {
  margin-top: 7px;
  margin-right: 3px;
  cursor: pointer;
}
.header__inline-menu {
  padding-left: 12rem;
}
.header__inline-menu li {
  margin-right: 1rem;
}
.header__menu-item span {
  color: #283455;
  font-size: 18px;
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
#overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .utility-bar {
    padding: 5px;
  }
  .header__icons {
    padding-left: 0;
  }
  .epost-icon {
    margin-right: 0;
  }
  .header__search {
    margin-right: -10px;
  }
  .header__menu-item span {
    font-size: 14px;
  }
  #overlay-content {
    top: 45%;
    left: 50%;
    width: 90%;
  }
}
footer {
  background-color: #dde3ec !important;
}
footer .footer-block--newsletter {
  display: block !important;
  align-items: initial !important;
  margin-top: 3rem;
  gap: 1rem;
}
footer .footer-block--newsletter .list-unstyled.list-social.footer__list-social {
  margin-top: 20px;
  justify-content: flex-start;
}
footer .footer-block__details-content.list-unstyled {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* Visa knappen bara när användaren har rullat ner */
  width: 40px;
  height: 40px;
  background-color: #283455;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
#scrollToTopBtn i {
  font-size: 20px;
}
#scrollToTopBtn:hover {
  background-color: #0056b3; /* Ändra bakgrundsfärgen vid hovring */
}
.banner__heading {
  color: #283455;
  margin-top: -10rem;
  font-weight: bold;
}
.banner__text p {
  color: #283455;
  font-size: 2rem;
}
.banner__buttons {
  background-color: #283455;
  border-radius: 20px;
}
.banner__buttons .button.button--secondary {
  background-color: #283455;
}
.title {
  color: #283455;
}
.rich-text.content-container {
  background-color: rgb(223, 227, 235);
}
.rich-text.content-container .rich-text__heading {
  display: flex;
  margin-left: -20rem;
  color: #283455;
  font-weight: bold;
}
.rich-text.content-container .rich-text__text {
  color: #283455;
  margin-left: -20rem;
  display: flex;
}
.rich-text.content-container .rich-text__buttons {
  display: flex;
  margin-left: 53rem;
  margin-top: -7rem;
}
.rich-text.content-container .rich-text__buttons .button--secondary {
  background-color: transparent;
  color: #283455;
  font-weight: bold;
  padding: 20px;
}
.collection-list-wrapper .collection-list-title {
  padding-left: 35rem;
  color: #283455;
  font-size: 5rem;
  font-weight: bold;
  padding-bottom: 4rem;
}
.collection .collection__title .title {
  color: #283455;
  font-weight: bold;
  font-size: 4rem;
}
.collection .collection__title .title h2 {
  color: #283455;
  font-weight: bold;
  font-size: 6rem;
}
.rich-text.content-container.color-scheme-1.gradient.rich-text--full-width.content-container--full-width.section-template--22345734914352__rich_text_tkrErm-padding {
  background-color: #F9F3ED;
}
.rich-text.content-container.color-scheme-1.gradient.rich-text--full-width.content-container--full-width.section-template--22345734914352__rich_text_tkrErm-padding .rich-text__heading {
  margin-left: -15rem;
}
.rich-text.content-container.color-scheme-1.gradient.rich-text--full-width.content-container--full-width.section-template--22345734914352__rich_text_tkrErm-padding .rich-text__buttons.scroll-trigger.animate--slide-in {
  color: #283455;
}
.rich-text.content-container.color-scheme-1.gradient.rich-text--full-width.content-container--full-width.section-template--22345734914352__rich_text_tkrErm-padding .rich-text__buttons.scroll-trigger.animate--slide-in .button--primary {
  margin-top: 2rem;
  background-color: transparent;
  color: #283455;
  border: 2px solid #283455;
}
#Slider-template--22345734914352__collection_list_nrtUnn .card__content {
  position: absolute;
  left: 51%;
  top: 2%;
  transform: translate(-50%, -100%);
}
#Slider-template--22345734914352__collection_list_nrtUnn .card__content .icon-wrap {
  display: none;
}
.rich-text__buttons .button--primary {
  background-color: #283455;
}
.multicolumn {
  background-color: #F9F3ED;
}
.multicolumn .multicolumn-list {
  padding-top: 3rem;
  background-color: white;
  border-radius: 20px;
}
.multicolumn .multicolumn-list h3 {
  color: #283455;
  text-transform: uppercase;
  font-weight: bold;
}
.multicolumn .multicolumn-list p {
  color: #283455;
}
.rich-text.content-container.color-scheme-1.gradient.rich-text--full-width.content-container--full-width.section-template--22345734914352__rich_text_tGJ8Fk-padding {
  background-color: #F9F3ED;
}
.rich-text.content-container.color-scheme-1.gradient.rich-text--full-width.content-container--full-width.section-template--22345734914352__rich_text_tGJ8Fk-padding .rich-text__blocks .rich-text__heading {
  padding-left: 15rem;
}
.rich-text.content-container.color-scheme-1.gradient.rich-text--full-width.content-container--full-width.section-template--22345734914352__rich_text_tGJ8Fk-padding .rich-text__blocks .rich-text__buttons.scroll-trigger.animate--slide-in .button--primary {
  margin-top: 2rem;
}
.section-template--22345734914352__custom_liquid_MF3LLx-padding {
  background-color: #F9F3ED;
  display: flex;
  justify-content: center;
}
.section-template--22345734914352__custom_liquid_MF3LLx-padding .tickertape-wrapper img {
  margin-right: 25px;
}
.collection-list-wrapper.page-width.isolate.no-mobile-link.section-template--22345734914352__collection_list_haKjgB-padding .title-wrapper-with-link.title-wrapper--self-padded-mobile.title-wrapper--no-top-margin .collection-list-title {
  margin-left: 3rem;
  font-size: 3rem;
}
.collection-list-wrapper.page-width.isolate.no-mobile-link.section-template--22345734914352__collection_list_haKjgB-padding .collection-list.contains-card.contains-card--collection.contains-card--standard.grid--4-col-desktop--1-col-tablet-down .collection-list__item.grid__item.scroll-trigger.animate--slide-in .card-wrapper.animate-arrow .card.card--standard.card--media .card__inner .card__content .card__information .card__heading {
  position: absolute;
  left: 25%;
  bottom: 100%;
}
.section-template--22345734914352__image_with_text_qrDEkK-padding {
  background-color: #F9F3ED;
}
.image-with-text.image-with-text--no-overlap.isolate.scroll-trigger.animate--slide-in .image-with-text__heading {
  color: #283455;
  font-size: 5rem;
  font-weight: 800;
}
.image-with-text.image-with-text--no-overlap.isolate.scroll-trigger.animate--slide-in .image-with-text__text {
  color: #283455;
}
.image-with-text.image-with-text--no-overlap.isolate.scroll-trigger.animate--slide-in .image-with-text__text p {
  color: #283455;
}
.image-with-text.image-with-text--no-overlap.isolate.scroll-trigger.animate--slide-in .button--primary {
  background-color: transparent;
  color: #283455;
  border: 2px solid #283455;
}
.image-with-text.image-with-text--no-overlap.isolate.scroll-trigger.animate--slide-in .button--primary:hover {
  background-color: #283455;
}
@media screen and (max-width: 768px) {
  .banner__heading {
    margin-top: -5rem;
  }
  .banner__text p {
    font-size: 1.5rem;
  }
  .banner__buttons .button.button--secondary {
    background-color: #283455;
  }
  .rich-text.content-container .rich-text__heading,
  .rich-text.content-container .rich-text__text,
  .rich-text.content-container .rich-text__buttons {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .collection-list-wrapper .collection-list-title {
    margin: 0;
    padding-left: 6rem;
    font-size: 3rem;
    padding-top: 2rem;
  }
  .collection .collection__title .title h2 {
    font-size: 4rem;
  }
  .card-wrapper {
    margin-bottom: 3rem;
  }
  .rich-text.content-container.color-scheme-1.gradient.rich-text--full-width.content-container--full-width.section-template--22345734914352__rich_text_tkrErm-padding .rich-text__heading {
    margin-left: 0rem;
  }
  .rich-text.content-container.color-scheme-1.gradient.rich-text--full-width.content-container--full-width.section-template--22345734914352__rich_text_tkrErm-padding .rich-text__buttons.scroll-trigger.animate--slide-in {
    color: #283455;
  }
  .rich-text.content-container.color-scheme-1.gradient.rich-text--full-width.content-container--full-width.section-template--22345734914352__rich_text_tGJ8Fk-padding {
    background-color: #F9F3ED;
  }
  .rich-text.content-container.color-scheme-1.gradient.rich-text--full-width.content-container--full-width.section-template--22345734914352__rich_text_tGJ8Fk-padding .rich-text__blocks .rich-text__heading {
    padding-left: 0;
  }
  .rich-text.content-container.color-scheme-1.gradient.rich-text--full-width.content-container--full-width.section-template--22345734914352__rich_text_tGJ8Fk-padding .rich-text__blocks .rich-text__buttons.scroll-trigger.animate--slide-in .button--primary {
    margin-top: 3rem;
    margin-bottom: -3rem;
  }
  .section-template--22345734914352__custom_liquid_MF3LLx-padding {
    display: block;
    text-align: center;
    padding: 4rem;
  }
  .tickertape-wrapper img {
    margin-left: 25px;
    margin-top: 2rem;
  }
  .image-with-text.image-with-text--no-overlap.isolate.scroll-trigger.animate--slide-in .image-with-text__heading,
  .image-with-text.image-with-text--no-overlap.isolate.scroll-trigger.animate--slide-in .image-with-text__text p {
    font-size: 1.5rem;
  }
  .image-with-text.image-with-text--no-overlap.isolate.scroll-trigger.animate--slide-in .button--primary {
    margin-left: 0;
  }
}
#MainProduct-template--22345734324528__main {
  background-color: #F9F3ED;
}
.product__title h1 {
  color: #283455;
}
.product-form__buttons {
  padding-right: 230px;
}
#ProductSubmitButton-template--22345734324528__main {
  background-color: #283455;
  color: #fff;
}
.wallet-button-fade-in {
  display: none;
}
.reviews-wrapper {
  background-color: #F9F3ED;
}
.header-wrapper.color-scheme-1.gradient.header-wrapper--border-bottom {
  background-color: #F9F3ED;
}
.collection-hero.color-scheme-1.gradient {
  display: none !important;
}
.multicolumn-card.content-container {
  margin: 0 20px 0 20px !important;
  max-width: none;
}
.title.inline-richtext.h1.scroll-trigger.animate--slide-in {
  display: flex;
  justify-content: center;
  align-items: center;
}
.multicolumn-list.contains-content-container.grid.grid--1-col-tablet-down.grid--4-col-desktop {
  padding-top: 20px;
}
.multicolumn {
  background-color: #ffffff;
}
.cart-drawer {
  background-color: #F9F3ED;
}
.drawer__heading {
  margin-top: 10rem !important;
  color: #283455;
  font-weight: bold;
  font-size: 28px;
}
.cart-item__quantity-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10rem;
}
.quantity-popover-container {
  border: 1px solid #333;
  border-radius: 20px;
  width: 7rem !important;
  height: 4rem;
  margin-left: 1rem;
}
.cart-remove-button {
  margin-top: -1rem !important;
  margin-left: -15px !important;
  text-decoration: underline;
}
.cart__checkout-button {
  background-color: #283455;
}
#CartDrawer-CartErrors {
  display: none;
}
@media screen and (max-width: 768px) {
  .quantity-popover-container {
    border: 1px solid #333;
    border-radius: 20px;
    width: 7rem !important;
    height: 4rem;
    margin-left: 2rem;
  }
  .cart-remove-button {
    margin-top: -1rem !important;
    margin-left: 0 !important;
    text-decoration: underline;
  }
}
body {
  margin: 0;
}